In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")
print('Dataset Size : ', df.shape)
df.head()

Dataset Size :  (63023, 13)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [25]:
df.describe().columns

Index(['Rooms', 'Price', 'Postcode', 'Propertycount', 'Distance'], dtype='object')

In [26]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Postcode', 'Regionname', 'Propertycount', 'Distance',
       'CouncilArea'],
      dtype='object')

In [31]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

In [33]:
df.dropna(inplace = True)

In [34]:
y = df['Price']
x = df[['Address','Rooms','Postcode','Regionname','Propertycount','Distance','CouncilArea']]

In [35]:
x.describe()

              Rooms      Postcode  Propertycount      Distance
count  48433.000000  48433.000000   48433.000000  48433.000000
mean       3.071666   3123.210332    7566.399913     12.702761
std        0.944708    125.534940    4457.405884      7.550030
min        1.000000   3000.000000      39.000000      0.000000
25%        2.000000   3051.000000    4280.000000      7.000000
50%        3.000000   3103.000000    6567.000000     11.700000
75%        4.000000   3163.000000   10412.000000     16.700000
max       31.000000   3980.000000   21650.000000     55.800000